@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700;900&display=swap');

.smalltext_rev_22 {
    font-size: 10px;
}
/* Отзыв */
.courses_review_22 {
    background-color: #EFEFEF;
    padding: 16px 36px 53px 35px;
}
.courseall_22{
    background-color: white;
    border-radius: 14px;
    box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
    padding: 18px 21px 13px;
}
.review_prof_22 {
    display: flex;
    align-items: center;
}
.review_prof_inf_22{
    margin-left: 14px;
}
.rev_name_22{
    font-size: 14px;
    margin: 0px;
}
.face_icon_22 {
    width: 80px;
    height: 84px;
}
.facebook_icon_22{
    height: 17px;
    width: 15px;
    margin-top: 16px;
}

/* Начало курса */
.course_start_22 {
    background-color: #9DC9C8;
    padding: 60px 0px;
}
.price_tag_22 {
    font-size: 37px;
    margin: 0px 0px 40px;
}
.course_start_info_22 {
    display: flex;
}
.start_info_block_22 {
    margin-right: 30px;
}


/* ------------------------------------ */
@media screen and (min-width: 834px) {

    /* Отзыв "ПЛАНШЕТ" */

    .smalltext_rev_22 {
        font-size: 12px;
        line-height: 150%;
        width: 405px;
        height: 120px;
    }
    .courses_review_22 {
        background-color: #EFEFEF;
        padding: 16px 36px 64px 73px;
    }
    .courseall_22{
        background-color:white;
        border-radius: 14px;
        box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
        padding: 23px 26px 0px 17px;
        width: 460px;
        height: 260px;
    }
    .review_prof_22 {
        display: flex;
        align-items: center;
        margin-top: 7px;
    }
    .review_prof_inf_22{
        margin-left: 17px;
    }
    .rev_name_22{
        font-size: 14px;
        margin: 0px;
    }
    .face_icon_22 {
        width: 110px;
        height: 100px;
    }
    .facebook_icon_22{
        height: 18px;
        width: 18px;
        margin-top: 18px;
    }


    /* Начало курса "ПЛАНШЕТ" */
    .course_start_22 {
        background-color: #9DC9C8;
        padding: 60px 0px;
    }
    .price_tag_22 {
        font-size: 37px;
        margin: 0px 0px 40px;
    }
    .course_start_info_22 {
        display: flex;
    }
    .start_info_block_22 {
        margin-right: 30px;
        width: 170px;
        height: 40px;
    }
    .smalltext_startc_22 {
        font-size: 10px;
    }
}


/* ------------------------------------------------------------------ */

@media (min-width: 1280px) {
    /* Отзыв "Desctop" */

    .smalltext_rev_22 {
        font-size: 20px;
        width: 700px;
        height: 200px;
    }
    .courses_review_22 {
        background-color: #EFEFEF;
        padding: 35px 0px 110px 84px;
    }
    .courseall_22{
        background-color:white;
        border-radius: 30px;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);;
        padding: 40px 45px;
        width: 790px;
        height: 450px;
    }
    .review_prof_22 {
        display: flex;
        align-items: center;
        margin-top: 7px;
    }
    .review_prof_inf_22{
        margin-left: 30px;
    }
    .rev_name_22{
        font-size: 30px;
        margin: 0px;
    }
    .face_icon_22 {
        width: 190px;
        height: 170px;
    }
    .facebook_icon_22{
        height: 30px;
        width: 30px;
        margin-top: 30px;
    }


    /* Начало курса "ПЛАНШЕТ" */
    .course_start_22 {
        background-color:#9DC9C8;
        padding: 115px 0px 180px 120px;
        padding: 115px 0px 180px 120px;
    }
    .price_tag_22 {
        font-size: 80px;
        margin: 0px 0px 40px;
    }
    .course_start_info_22 {
        display: flex;
    }
    .start_info_block_22 {
        margin-right: 70px;
        width: 250px;
        height: 32px;
    }
    .start_info_block_22 .text {
        font-size: 25px;
    }
    .start_info_block_22 .smalltext_rev_22 {
        font-size: 18px;
    }
    .smalltext_startc_22{
        font-size: 18px;
    }
}