@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@400;700&display=swap');

.container-intro p {
    margin: 0;
}

.container-intro {

}
.logo {
    width:  52px ;
    height: 30px;
}
.p2, .p3, .p4{
    width: 10px;
    height: 10px ;
    margin-right: 4px ;
}
/* navigaion */
.container-intro nav {
    display: flex;
    justify-content: space-between;
    margin: 45px 0 8px;
    max-width: 300px;
}
.online-courses {
    display: flex;
    margin-right: 11px;
}
.online-courses p{

    width: 60.58px;
    height: 14.91px;
    left: 48.98px;
    top: 111.35px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 115%;
    /* or 11px */


    color: #000000;

}
.watch {
    display: flex;
    
}
.watch p {
    width: 60.58px;
    height: 14.91px;
    left: 136.12px;
    top: 111.35px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 115%;
    /* or 11px */


    color: #000000;
}
.calendar {
    display: flex;
}
.calendar p {
    width: 60.58px;
    height: 14.91px;
    left: 211.6px;
    top: 111.35px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 115%;
    /* or 11px */


    color: #000000;
}

/* main */
.container-intro h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 100%;
}

.container-intro .text {
    width: 210px;
    height: 30px;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    line-height: 150%;
}



/* man */
.man {
    width: 141.68px ;
    height: 175.1px;
    left: 201px;
    top: 254px ;
    margin-right: 32.24px;
    margin-left: 201px;
    margin-bottom: 30.9px;
}
.info {
    width: calc(225px - 26px );
    height: calc(93px - 42px);
    background: #1E4681;
    border-radius: 2px;
    transform: rotate(-4deg);
    margin-left: 35px;
    margin-right: 110px;
    margin-top: 30px;
    padding: 10px 14px 32px;
}
.info {
    position: relative;
}
.info p {
    width: 200px;
    height: 52px;
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 130%;
    color: #FFFFFF;
}
.author {
    position: absolute;
    bottom: 6px;
    color: white;
    right: 10px ;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    line-height: 130%;
}

