@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.card_24 {
    width: 186px;
    height: 153px;
    background: #FFFFFF;
    border-radius: 14px;
    box-shadow: 0.5px 0.5px 7px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-bottom: 24px;
}

.name_24 {
    font-weight: bold;
    font-size: 14px;
    width: 170px;
    margin: auto;
    margin-top: -3px;
}

.about_24 {
    font-size: 12px;
    width: 170px;
    margin: auto;
    margin-top: 15px;
}

.card_24:last-child :last-child {
    margin-top: 1px;
}

.stripe_24 {
    background-color: black;
    width: 20%;
    height: 6px;
    position: absolute;
    right: 0;
}

.title_24 {
    display: flex;
    align-items: center;

}

@media (min-width: 834px) {

    .stripe_24 {
        width: 40%;
        height: 8px;
    }

    .cards_24 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 756px;
    }

    .card_24 {
        margin: 24px 17px 0 0;
        width: 231px;
        height: 190px;
        border-radius: 17px;
    }

    .card_24 img {
        width: 231px;
        height: 93px;
    }

    .name_24 {
        font-size: 17px;
        width: 211px;
    }

    .about_24 {
        font-size: 14px;
        width: 211px;
        margin-top: 20px;
    }

    .card_24:last-child :last-child {
        margin-top: 2px;
    }

    .title_24 {
        font-size: 32px;
    }

    .centercards_24 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (min-width: 1280px) {

    .stripe_24 {
        height: 14px;
    }

    .title_24 {
        font-size: 55px;
    }

    .card_24 {
        margin: 41px 37px 0 0;
        width: calc(33% - 37px);
        height: 328px;
        border-radius: 30px;
    }

    .card_24 img {
        width: 100%;
        height: auto;
    }

    .name_24 {
        font-size: 28px;
        width: 100%;
        padding-left: 15px;
        margin-top: 7px;
    }

    .about_24 {
        font-size: 25px;
        width: 100%;
        margin-top: 45px;
        padding-left: 15px;
    }

    .card_24:last-child :last-child {
        margin-top: 10px;
    }

    .cards_24 {
        width: 100%;
    }
}