@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700;900&display=swap');

.smalltext {
    font-size: 10px;
}
.courses_review_22 {
    background-color: #EFEFEF;
    padding: 0px 36px 32px 35px;
}
.courseall_22{
    background-color: white;
    border-radius: 14px;
    box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
    padding: 18px 21px 13px;
}
.review_prof_22 {
    display: flex;
    align-items: center;
}
.review_prof_inf_22{
    margin-left: 14px;
}
.rev_name_22{
    font-size: 14px;
    margin: 0px;
}
.face_icon_22 {
    width: 80px;
    height: 84px;
}
.facebook_icon_22{
    height: 17px;
    width: 15px;
    margin-top: 16px;
}

/* Начало курса */
.course_start_22 {
    background-color: #9DC9C8;
    padding: 60px 0px;
}
.price_tag_22 {
    font-size: 37px;
    margin: 0px 0px 40px;
}
.course_start_info_22 {
    display: flex;
}
.start_info_block_22 {
    margin-right: 30px;
}